body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2{
    text-align: center;
}

/*Card*/

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.service-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.service-card:hover{
    transform: translateY(-10px);
}

.service-card img{
    width: 40px;
    height: 150px;
    object-fit: cover;
}
img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 150px;
}

.service-card h3{
    margin: 15px;
    font-size: 1.2em;
    color: #333;
}

.service-card p{
    margin: 0 15px 15px 15px;
    color: #666;
    font-size: 0.9em;
}